<h2><%=@sub.title%></h2>

<p><%=@sub.description%></p>

<br>

<% if @sub.moderator_id == current_user.id %>
  <%= link_to "Edit SubReddit", edit_sub_url %><br><br>
<% end %>

<br>

<%= link_to "Add Post", new_post_url %>

<br>

<% @posts.each do |post| %>
  <li><%= link_to post.title, post_url(@post) %></li>
<% end %>

<br>

<%= link_to "SubReddit Index", subs_url %><br><br>
