<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
    <% if logged_in? %>
      <%= button_to "Sign Out", session_url, method: :delete %>
    <% end %>
  </body>
</html>
